<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('证书名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-devname" data-rule="required" class="form-control" name="row[devname]" type="text" value="{$row.devname|htmlentities}">
        </div>
    </div>
    
        <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('UID')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" data-rule="required" class="form-control" name="row[uid]" type="text" value="{$row.uid|htmlentities}">
        </div>
    </div>
    
        <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('用户')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user"  class="form-control" name="row[user]" type="text" value="{$row.user|htmlentities}">
        </div>
    </div>

  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ISS')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-iss" data-rule="required" class="form-control" name="row[iss]" type="text" value="{$row.iss|htmlentities}">
        </div>
    </div>

  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('KID')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kid" data-rule="required" class="form-control" name="row[kid]" type="text" value="{$row.kid|htmlentities}">
        </div>
    </div>

  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('BID')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bid" data-rule="required" class="form-control" name="row[bid]" type="text" value="{$row.bid|htmlentities}">
        </div>
    </div>
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('CID')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cid" data-rule="required" class="form-control" name="row[cid]" type="text" value="{$row.cid|htmlentities}">
        </div>
    </div>
  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('P8路径')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-p8" data-rule="required" class="form-control" name="row[p8]" type="text" value="{$row.p8|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('P12')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-p12" data-rule="required" class="form-control" name="row[p12]" >{$row.p12|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[zszt]', [1=>__('Normal'), 0=>__('掉签')], $row['zszt'])}
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('备注')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-beizhu"  class="form-control" name="row[beizhu]" type="text" value="{$row.beizhu|htmlentities}">
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
