{extend name="layout/user" /}
{block name="header"}{include file="common/header" activeTab="dulichi"/}{/block}
{block name="content"}
<script src="/assets/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/assets/css/jtoggler.styles.css">
<script src="/assets/js/jtoggler.js"></script>
<div class="flex justify-center w-full">
    <div class="col-xs-12 col-sm-10 col-lg-8 center-block w-full xl:w-2/3">
        <div class="w-full bg-white p-4 shadow-xl space-y-4 py-8 my-4">
            <div class="w-full flex items-center flex-nowrap">
                <input type="submit" name="type"
                       onclick="tj()"
                       value="添加账号"
                       class="btn btn-success form-control basis-1/4"/>
                <div id='miaoshu8888' class="px-2">
                    <a href="https://giybkn8ic87.feishu.cn/docx/CqMKdwH0HoLqQbxRwH4cQFb9n0g">不会获取P8文件点这里</a>
                </div>
            </div>
        </div>
        <div class="w-full bg-white shadow-xl space-y-1 my-container">
            {volist name="row" id="vo"}
            <div draggable="true" data-id="{$vo.id}" class="flex justify-center">
                <div class="flex p-2 w-full md:w-[800px]">
                    <div class="basis-3/4 flex flex-col justify-between border border-gray-400 border-l-8 border-l-blue-500 shadow-xl px-2 md:px-4">
                        <span>证书名称：{$vo.devname}</span>
                        <span>苹果ID : 	{if condition='$vo.email eq null'}请点击刷新余量获取AppleID{else /}{$vo.email}{/if}</span>
                        <span class="text-red-600">剩余 iPhone:{$vo.iphone}  |&nbsp;iPad:{$vo.ipad} | Mac:{$vo.mac} &nbsp;</span>
                        <span>到期时间:{$vo.dqtime}</span>
                        <span>
                            <div class="flex items-center">
                                <span>开启：</span><input type="checkbox" value="zt" {if condition='$vo.zt eq 1'}checked{else /}{/if} id="{$vo.id}" class="jtoggler">
                                <span>预约：</span><input type="checkbox" value="yy"  {if condition='$vo.yy eq 1'}checked{else /}{/if} id="{$vo.id}" class="jtoggler">
                    </div>
                    </span>
                        <div class="flex items-center py-2">
                            <button class="rounded-none btn btn-sm btn-success form-control"
                                    onclick="yl({$vo.id})">刷新余量</button>&nbsp;
                            <button onclick="tongbu('{$vo.id}')"
                                    class="rounded-none btn btn-sm btn-info form-control">同步UDID</button>	&nbsp;
                            <button onclick="tongbu_mac('{$vo.id}')"
                                    class="rounded-none btn btn-sm btn-danger form-control">同步MAC</button>	&nbsp;
                        </div>
                    </div>
                    <div class="basis-1/4 flex flex-col items-center border border-gray-400 border-l-0 shadow-xl">
                        <button class="rounded-none border-0 w-full  btn btn-sm" onclick="del('{$vo.id}')">删除</button>
                        <button class="rounded-none border-0 border-t-[1px] border-gray-400 w-full  btn btn-sm" onclick="location.href='/api/getdown?p12=my{$vo.id}'">下载P12</button>
                        <button class="rounded-none border-0 border-t-[1px] border-gray-400 w-full  btn btn-sm" onclick="downmp('{$vo.id}')">下载描述</button>
                        <button class="rounded-none border-0 border-t-[1px] border-gray-400 w-full  btn btn-sm break-all h-full bg-green-200" onclick="xg('{$vo.id}','{$vo.beizhu}')">{$vo.beizhu}</button>
                    </div>
                </div>
            </div>
            {/volist}
            <div>
                <center>--- 暂无更多数据 ---</center>
                <input type="file" name="file" required placeholder="文件流" style="display:none" id="uploadp8">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //拖动排序
        $("#divBody").sortable({
            update: function (event, ui) {
                var idList = $(this).sortable("toArray", {attribute: "data-id"});
                console.log(idList);
            }
        });
        $("#divBody").disableSelection();
    });
</script>
<script>

    window.onload = function () {
        p8path = '';
        var path = document.getElementById("uploadp8");
        path.addEventListener('change', getp8, false);
        $(function () {
            $('.jtoggler').jtoggler();
        });
        $(document).on('jt:toggled', function (event, target) {
            var zt;
            var yy;
            if ($(target).prop('checked') == true && target.value == 'yy') {
                yy = 1;
            }
            if ($(target).prop('checked') == false && target.value == 'yy') {
                yy = 0;
            }
            if ($(target).prop('checked') == true && target.value == 'zt') {
                zt = 1;
            }
            if ($(target).prop('checked') == false && target.value == 'zt') {
                zt = 0;
            }
            layer.closeAll();
            $.blockUI({
                message: '<img src="https://sign.52tzs.com/assets/libs/fastadmin-layer/dist/theme/default/loading.gif" /> <br>请求中.',
                css: {
                    left: '50%',
                    'border-radius': '15px',
                    padding: '10px',
                    width: '150px',
                    'margin-left': '-75px',
                    display: "flex",
                    "flex-direction": "column",
                    "justify-content": "center",
                    "align-items": "center",
                }
            });
            $.ajax({
                type: 'POST',
                url: "/index/index/editcer",
                data: {
                    id: target.id,
                    yy: yy,
                    zt: zt
                },
                dataType: "json",
                success: function (result, textStatus, jqXHR) {
                    $.unblockUI();
                    if (result['code'] == 1) {
                        layer.msg('修改成功')
                    } else {
                        layer.msg(result['msg'])
                    }
                },
                error: function (response) {
                    $.unblockUI();
                    layer.msg('请求失败！');
                }
            });
        });
    }

    function tongbu(id) {
        layer.open({
            type: 1,
            title: '同步UDID',
            content: ` <div style="padding-top:8px;padding-right: 20px;padding-left: 20px;">
           <p>同步UDID是将账号内已添加的所有UDID同步到独立池</p>
           <a  onclick="settongbu(${id})" class="btn btn-info form-control">确定同步</a><br><br></div>`
        });

    }

    function settongbu(id) {

        layer.closeAll();
        $.blockUI({
            message: '<img src="https://sign.52tzs.com/assets/libs/fastadmin-layer/dist/theme/default/loading.gif" /> <br>请求中.',
            css: {
                left: '50%',
                'border-radius': '15px',
                padding: '10px',
                width: '150px',
                'margin-left': '-75px',
                display: "flex",
                "flex-direction": "column",
                "justify-content": "center",
                "align-items": "center",
            }
        });
        $.ajax({
            type: 'POST',
            url: "/api/addcer/getudid",
            data: {
                id: id,
                token: '{$user.ktoken}'
            },
            dataType: "json",
            success: function (result, textStatus, jqXHR) {
                $.unblockUI();
                if (result['code'] == 1) {
                    layer.msg(result['msg'], {time: 4000}, function () {

                    })
                } else {
                    layer.msg(result['msg'])
                }
            },
            error: function (response) {
                $.unblockUI();
                layer.msg('请求失败！');
            }
        });
    }


    function downmp(id) {

        layer.closeAll();
        $.blockUI({
            message: '<img src="https://sign.52tzs.com/assets/libs/fastadmin-layer/dist/theme/default/loading.gif" /> <br>请求中.',
            css: {
                left: '50%',
                'border-radius': '15px',
                padding: '10px',
                width: '150px',
                'margin-left': '-75px',
                display: "flex",
                "flex-direction": "column",
                "justify-content": "center",
                "align-items": "center",
            }
        });
        $.ajax({
            type: 'POST',
            url: "/api/addcer/downmp",
            data: {
                id: id,
                token: '{$user.ktoken}'
            },
            dataType: "json",
            success: function (result, textStatus, jqXHR) {
                $.unblockUI();
                if (result['code'] == 1) {
                    layer.msg('正在为您下载描述文件..', {time: 2000}, function () {
                        location.href = result['url']
                    })
                } else {
                    layer.msg(result['msg'])
                }
            },
            error: function (response) {
                $.unblockUI();
                layer.msg('请求失败！');
            }
        });
    }


    function tongbu_mac(id) {
        layer.open({
            type: 1,
            title: '同步UDID',
            content: ` <div style="padding-top:8px;padding-right: 20px;padding-left: 20px;">
           <p>同步MAC_UDID是将账号内已添加的所有MAC_UDID同步到独立池</p>
           <a  onclick="settongbu_mac(${id})" class="btn btn-info form-control">确定同步</a><br><br></div>`
        });
    }

    function settongbu_mac(id) {

        layer.closeAll();
        $.blockUI({
            message: '<img src="https://sign.52tzs.com/assets/libs/fastadmin-layer/dist/theme/default/loading.gif" /> <br>请求中.',
            css: {
                left: '50%',
                'border-radius': '15px',
                padding: '10px',
                width: '150px',
                'margin-left': '-75px',
                display: "flex",
                "flex-direction": "column",
                "justify-content": "center",
                "align-items": "center",
            }
        });
        $.ajax({
            type: 'POST',
            url: "/api/addcer/getmacudid",
            data: {
                id: id,
                token: '{$user.ktoken}'
            },
            dataType: "json",
            success: function (result, textStatus, jqXHR) {
                $.unblockUI();
                if (result['code'] == 1) {
                    layer.msg(result['msg'], {time: 4000}, function () {
                    })
                } else {
                    layer.msg(result['msg'])
                }
            },
            error: function (response) {
                $.unblockUI();
                layer.msg('请求失败！');
            }
        });
    }

    function tj() {
        var dom = document.querySelector('.my-container');
        if ({$site.dlcfy} == 0) {
            m = '免费'
        } else {
            m = '扣{$site.dlcfy}余额'
        }
        layer.open({
            type: 1,
            area: [getComputedStyle(dom).width, 'auto'],
            title: '添加账号（' + m + '）',
            content: `
            <div class="flex flex-col w-full">
                <div class="w-full px-2">
                    <input class="rounded-none form-input mt-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300" id="iss" value=""  placeholder="Issuer ID"/>
                </div>
                <div class="w-full px-2">
                    <input class="rounded-none form-input mt-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300" id="kid" value="" placeholder="密钥 ID"  />
                </div>
                <div class="w-full px-2 flex">
                    <input class="rounded-none form-input mt-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300" id="p8" value="" placeholder="P8文件地址"  />
                    <button onclick="uploadp8.click()" class="mt-2 rounded-none btn btn-primary basis-2/5 shrink-0">上传P8</button>
                </div>
                <div class="w-full px-2">
                    <input class="rounded-none form-input mt-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-gray-300" id="beizhu" value="" placeholder="备注"  /><br>
                </div>
                <div class="w-full p-2">
                    <a onclick="checkcer()" class="w-full rounded-none btn btn-info form-control">立即添加</a>
                </div>
            </div>`
        });
    }

    function getp8() {
        var p = document.getElementById("uploadp8").value;
        if (p.indexOf("p8") == -1) {
            layer.msg('文件错误,请选择P8格式文件');
        } else {
            var file = document.getElementById("uploadp8").files[0];
            var fd = new FormData();//利用FormData传参
            var xhr = new XMLHttpRequest();
            //xhr.setRequestHeader('token',sessionStorage.getItem('token'))加token
            xhr.open('post', '/index/index/uploadp8', true);
            xhr.onreadystatechange = function () {
                //readystate为4表示请求已完成并就绪
                if (this.readyState == 4) {
                    var info = xhr.responseText;
                    var info = eval("(" + info + ")");
                    if (info.code == 1) {
                        p8path = info.data.apppath;
                        $('#p8').val(p8path);
                    } else {
                        layer.msg('上传失败，请重试');
                    }
                    //在进度条下方插入百分比
                }
            }
            fd.append('file', file);//FormData传参
            xhr.send(fd);
        }
    }

    function checkcer() {
        if (p8path == '') {
            layer.msg('请上传P8文件！');
            return;
        }
        var kid = document.getElementById("kid").value;
        if (kid == '') {
            layer.msg('密钥 ID 不能为空');
            return;
        }
        var beizhu = document.getElementById("beizhu").value;
        var iss = document.getElementById("iss").value;
        if (iss == '') {
            layer.msg('Issuer ID 不能为空');
            return;
        }
        layer.msg(`正在处理中..`, {
            icon: 16
            , shade: 0.3
            , time: false
        });

        $.ajax({
            type: 'POST',
            url: "/api/addcer/check",
            data: {
                uid: '{$user.id}',
                iss: iss,
                kid: kid,
                p8: p8path,
                beizhu: beizhu
            },
            dataType: "json",
            success: function (result, textStatus, jqXHR) {
                layer.closeAll('dialog');
                if (result['code'] == 0) {
                    layer.msg(result['msg'])
                } else {

                    if (result['meta']['paging']['total'] == 0) {
                        add();
                    } else {
                        var html = ``;
                        result['data'].forEach((vo) => {
                            html = html + ` <li id='cer${vo.id}'><div>类型:${vo.attributes.certificateType}<br>到期时间:${vo.attributes.expirationDate.substring(0, 10)}
                            <div style="float: right"><img onclick="delcer('${vo.id}')" width='18px' height= '18px' src="/assets/img/del.png"></div></div></li>`
                        })
                        layer.open({
                            type: 1,
                            title: result['data'][0]['attributes']['displayName'] + '-已存在证书',
                            content: `<div style="padding-top:8px;padding-right: 20px;padding-left: 20px;"><ul id="list" class="list">` + html + `</ul><a onclick="add()" class="btn btn-info form-control">继续</a><br><br></div>`
                        });


                    }
                }
            },
            error: function (response) {
                layer.closeAll('dialog');
                layer.msg('请求失败！');
            }
        });
    }


    function add() {

        var kid = document.getElementById("kid").value;
        var beizhu = document.getElementById("beizhu").value;
        var iss = document.getElementById("iss").value;

        layer.msg(`正在处理中..`, {
            icon: 16
            , shade: 0.3
            , time: false
        });
        $.ajax({
            type: 'POST',
            url: "/api/addcer/add",
            data: {
                uid: '{$user.id}',
                iss: iss,
                kid: kid,
                p8: p8path,
                beizhu: beizhu
            },
            dataType: "json",
            success: function (result, textStatus, jqXHR) {
                layer.closeAll('dialog');
                if (result['code'] == 1) {

                    layer.msg('添加成功', {time: 2000}, function () {
                        location.reload()
                    })
                } else {
                    layer.msg(result['msg'])
                }
            },
            error: function (response) {
                layer.closeAll('dialog');
                layer.msg('请求失败！');
            }
        });
    }


    function delcer(id) {

        var kid = document.getElementById("kid").value;
        var beizhu = document.getElementById("beizhu").value;
        var iss = document.getElementById("iss").value;
        layer.confirm('您确定删除该证书吗，删除后涉及到此证书的UDID将会掉签！', {title: '提示'}, function (index) {
            layer.msg(`正在处理中..`, {
                icon: 16
                , shade: 0.3
                , time: false
            });

            $.ajax({
                type: 'POST',
                url: "/api/addcer/del",
                data: {
                    uid: '{$user.id}',
                    iss: iss,
                    kid: kid,
                    p8: p8path,
                    id: id
                },
                dataType: "json",
                success: function (result, textStatus, jqXHR) {
                    layer.closeAll('dialog');
                    if (result['code'] == 1) {

                        document.getElementById('cer' + id).style.display = "none";
                        layer.msg('删除成功');

                    } else {
                        layer.msg(result['msg'])

                    }
                },
                error: function (response) {
                    layer.closeAll('dialog');
                    layer.msg('请求失败！');
                }
            });
        })
    }


    function yl(id) {
        $.blockUI({
            message: '<img src="https://sign.52tzs.com/assets/libs/fastadmin-layer/dist/theme/default/loading.gif" /> <br>请求中.',
            css: {
                left: '50%',
                'border-radius': '15px',
                padding: '10px',
                width: '150px',
                'margin-left': '-75px',
                display: "flex",
                "flex-direction": "column",
                "justify-content": "center",
                "align-items": "center",
            }
        });
        $.ajax({
            type: 'GET',
            url: "/api/getdown",
            data: {
                yl: "my" + id
            },
            dataType: "json",
            success: function (result, textStatus, jqXHR) {
                $.unblockUI();
                if (result['code'] == 1) {

                    layer.msg('处理成功', {time: 2000}, function () {
                        location.reload()
                    })


                } else {
                    layer.msg(result['msg'])
                }

            },
            error: function (response) {
                $.unblockUI();
                layer.msg('请求失败！');

            }
        });


    }


    function xgyl(id, iphone, ipad, mac, xx) {
        var dis = ''
        if (xx) {
            dis = `Mac 预留：<br><input id="mac" type="Number" class="form-control"  placeholder="Mac 预留" value="${mac}" oninput="if(!/^[0-9]+$/.test(value)) value=value.replace(/\D/g,'');if(value>100)value=100;if(value<0)value=0" v-model='testNum'>`;
        }
        layer.open({
            title: '设置预留',
            btnAlign: 'c',
            closeBtn: '1',//右上角的关闭
            content: `  <div style="padding-top:2px;padding-right: 5px;padding-left:5px;">
               iPhone 预留：<br>
               <input id="iphone" type="Number" class="form-control"  placeholder="iPhone 预留" value="${iphone}" oninput="if(!/^[0-9]+$/.test(value)) value=value.replace(/\D/g,'');if(value>100)value=100;if(value<0)value=0" v-model='testNum'>
                iPad 预留：<br>
               <input id="ipad" type="Number" class="form-control"  placeholder="iPad 预留" value="${ipad}" oninput="if(!/^[0-9]+$/.test(value)) value=value.replace(/\D/g,'');if(value>100)value=100;if(value<0)value=0" v-model='testNum'>` + dis + `
                </div>`,
            btn: ['确认', '取消'],
            yes: function (index, layero) {
                var iphone = $('#iphone').val();
                var ipad = $('#ipad').val();
                var mac = $('#mac').val();

                $.ajax({
                    type: 'POST',
                    url: "/index/index/my_xgyl",
                    data: {
                        id: id,
                        mac: mac,
                        iphone: iphone,
                        ipad: ipad

                    },
                    dataType: "json",
                    success: function (result, textStatus, jqXHR) {
                        layer.close(index);
                        if (result['code'] == 1) {
                            layer.msg('修改成功', {time: 2000}, function () {
                                location.reload()
                            })
                        } else {
                            layer.msg('修改失败');
                        }

                    },
                    error: function (response) {
                        layer.close(index);
                        layer.msg('修改失败');

                    }
                });

            },
            no: function (index) {
                layer.close(index);
                return false;//点击按钮按钮不想让弹层关闭就返回false
            }
        });
    }

    function del(id) {
        layer.confirm('您确定删除此账号吗？<br>删除后不影响已添加设备！', {title: '提示'}, function (index) {

            $.ajax({
                type: 'POST',
                url: "/index/index/my",
                data: {
                    id: id,
                },
                dataType: "json",
                success: function (result, textStatus, jqXHR) {

                    location.reload();
                },
                error: function (response) {
                    msg('删除失败');

                }
            });

            layer.close(index);

        });


    }

    function xg(id, beizhu) {

        layer.open({
            title: '修改备注',
            btnAlign: 'c',
            closeBtn: '1',//右上角的关闭
            content: `<div><textarea id="remark" class="form-control" rows="3">${beizhu}</textarea></div>`,
            btn: ['确认', '取消'],
            yes: function (index, layero) {
                var beizhu = $('#remark').val();//获取多行文本框的值
                if (beizhu != null && beizhu != "") {

                    $.ajax({
                        type: 'POST',
                        url: "/index/index/my_xgbeizhu",
                        data: {
                            id: id,
                            beizhu: beizhu
                        },
                        dataType: "json",
                        success: function (result, textStatus, jqXHR) {
                            layer.close(index);
                            if (result['code'] == 1) {
                                layer.msg('修改成功，刷新页面后可查看');
                            } else {
                                layer.msg('修改失败');
                            }

                        },
                        error: function (response) {
                            layer.close(index);
                            layer.msg('修改失败');

                        }
                    });
                }
            },
            no: function (index) {

                layer.close(index);

                return false;//点击按钮按钮不想让弹层关闭就返回false

            }
        });

    }
</script>
{/block}