<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Siteurl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-siteurl" class="form-control" name="row[siteurl]" type="text" value="{$row.siteurl|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Switch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-switch" name="row[switch]" type="hidden" value="{$row.switch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-switch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.switch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bidname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bidname" class="form-control" name="row[bidname]" type="text" value="{$row.bidname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Appname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appname" class="form-control" name="row[appname]" type="text" value="{$row.appname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('App_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-app_type" data-rule="required" class="form-control selectpicker" name="row[app_type]">
                {foreach name="appTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.app_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Appstore')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-appstore" class="form-control" name="row[appstore]" type="text" value="{$row.appstore|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inappstoreswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-inappstoreswitch" name="row[inappstoreswitch]" type="hidden" value="{$row.inappstoreswitch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-inappstoreswitch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.inappstoreswitch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Appstoreswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-appstoreswitch" name="row[appstoreswitch]" type="hidden" value="{$row.appstoreswitch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-appstoreswitch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.appstoreswitch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Timelockswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-timelockswitch" name="row[timelockswitch]" type="hidden" value="{$row.timelockswitch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-timelockswitch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.timelockswitch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Importswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-importswitch" name="row[importswitch]" type="hidden" value="{$row.importswitch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-importswitch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.importswitch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Buy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-buy" class="form-control" name="row[buy]" type="text" value="{$row.buy|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contact')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contact" class="form-control" name="row[contact]" type="text" value="{$row.contact|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qq')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-qq" class="form-control" name="row[qq]" type="text" value="{$row.qq|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Jc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-jc" class="form-control" name="row[jc]" type="text" value="{$row.jc|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bidswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-bidswitch" name="row[bidswitch]" type="hidden" value="{$row.bidswitch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-bidswitch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.bidswitch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Plistswitch')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <input  id="c-plistswitch" name="row[plistswitch]" type="hidden" value="{$row.plistswitch}">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-plistswitch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name="$row.plistswitch" value="0"}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[endtime]" type="text" value="{:$row.endtime?datetime($row.endtime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Apihit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-apihit" data-rule="required" class="form-control" name="row[apihit]" type="number" value="{$row.apihit|htmlentities}">
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
