{extend name="layout/user" /}
{block name="content"}
<div class="flex-1 shadow-xl md:p-8 overflow-scroll">
    <div class="flex justify-center items-center h-full">
        <div class="flex min-h-full w-full justify-center">
            <div class="grid col-span-1 md:col-span-3 md:w-[600px] lg:w-[800px] w-full">
                <div class="bg-cyan-50 bg-gradient-to-l rounded-lg shadow-xl pb-8 ">
                    {__CONTENT__}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}