<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title|default=''|htmlentities} – {$site.name|htmlentities}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    {if isset($keywords)}
    <meta name="keywords" content="{$keywords|htmlentities}">
    {/if}
    {if isset($description)}
    <meta name="description" content="{$description|htmlentities}">
    {/if}
    <link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico"/>
    <link href="__CDN__/assets/css/frontend-t.min.css?v={$Think.config.site.version|htmlentities}"
          rel="stylesheet">
    <script src="/assets/js/sweetalert2.min.js"></script>


    <!--[if lt IE 9]>
    <script src="__CDN__/assets/js/html5shiv.js"></script>
    <script src="__CDN__/assets/js/respond.min.js"></script>
    <![endif]-->

    <script defer src="/assets/js/alpinejs-collapse.js"></script>
    <script defer src="/assets/js/alpinejs.js"></script>
    <script defer src="/assets/js/focus.min.js"></script>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/libs/fastadmin-layer/dist/layer.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.blockUI.min.js"></script>

    <link href="__CDN__/assets/css/tailwind-o.css?v={$Think.config.site.version|htmlentities}" rel="stylesheet">
    <script type="text/javascript">
        var require = {
            config: {$config | json_encode}
        };
    </script>

    <style>
        /* 隐藏滚动条 */
        ::-webkit-scrollbar {
            display: none;
        }

        /* 隐藏滚动条，但仍然允许滚动 */
        body {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    </style>
    <!--    <link href="__CDN__/assets/css/user.css?v={$Think.config.site.version|htmlentities}" rel="stylesheet">-->
</head>
<body x-data="{ atTop: true, lastScrollTop: 0}" @scroll.window="let scrollTop = window.pageYOffset; atTop = scrollTop > lastScrollTop ? false : true; lastScrollTop = scrollTop;">

{block name="header"}{include file="common/header" activeTab="user"/}{/block}
<main class="flex-1 bg-gray-200 pt-[64px] main-container">
    {block name="content"}{__CONTENT__}{/block}
</main>

{include file="common/footer" /}

{include file="common/script" /}

</body>


</html>

